<h1>Create a new shopping list</h1>

{{shopping-lists/new/new-list shoppingList=shoppingList newItem=newItem saveList=(action 'saveList')}}

{{shopping-lists/new/new-item newItem=newItem addItem=(action 'addItem' shoppingList.items newItem)}}

{{outlet}}
