<h1>Sousy</h1>

<ul class="globalNavigation">
  <li>
    {{#link-to "application"}}
      Home
    {{/link-to}}
  </li>
  <li>
    {{#link-to "shopping-lists"}}
      Shopping Lists
    {{/link-to}}
  </li>
</ul>

{{outlet}}
